<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
  <style>
  #tagger {
    min-width: 50px;
    field-sizing: content;
  }  
  h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  img:hover {
    opacity: 50%;
  }
  </style>
</head>
<body>
  <h1>
    <img src="/uploads/<%= image %>.avif" alt="<%= name %>" onclick="editImage()" id="image">
    <span id="name" contenteditable="true"><%= name %></span>
  </h1>
  <span id="tags">
    <% tags.forEach(tag => { %><span class="tag"><%= tag.name %></span><% }) %><input id='tagger' type="text" placeholder="add tag" onkeydown="tagInput(event)">
  </span><br>
  <p id="desc" contenteditable="true"><%= desc %></p>
  <button onclick="save()">save</button><br>
  <a href=".">back</a><br>
  <a href="/">search</a>
  <p id="msg"></p>
<script src="/js/tags.js"></script>
<script>
let ogname = '<%= name %>';
let ogdesc = '<%= desc %>';
let ogtags = getTags();
let name = '<%= name %>';
let desc = '<%= desc %>';
let tags = getTags();
let imageEdited = false;

function checkTags() {
  return JSON.stringify(tags) === JSON.stringify(ogtags);
};

async function save() {
  name = document.getElementById('name').textContent;
  desc = document.getElementById('desc').textContent;
  tags = getTags();
  if (name===ogname&&desc===ogdesc&&checkTags()) {
    document.getElementById('msg').style.color = '#00F';
    document.getElementById('msg').textContent = 'no edits!';
    return;
  };
  if (name!=ogname) {
    edit('name',name);
  };
  if (desc!=ogdesc) {
    edit('desc',desc);
  };
  if (!checkTags()) {
    edit('tags',tags);
  };
  if (imageEdited && newImage) {
    let image = await upload();
    if(image) {
      edit('image',image);
      imageEdited = false;
      newImage = null;
    } else {
      document.getElementById('msg').style.color = '#F00';
      document.getElementById('msg').textContent = 'error uploading image';
    }
  };
};

function edit(type,value) {
  fetch(`/api/edit/item/${type}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(
      {
        item: <%- JSON.stringify(id) %>,
        [type]: value,
      }
    ),
  })
  .then(r=>r.json())
  .then(a=>{
    if (a.success) {
      document.getElementById('msg').style.color = '#0F0';
      document.getElementById('msg').textContent = 'success!';
      if(type!='image') { 
        eval(`og${type} = value`);
      }
    } else {
      document.getElementById('msg').style.color = '#F00';
      document.getElementById('msg').textContent = 'error';
      return { success: false };
    }
  });
};

let newImage;
function editImage() {
  let img = document.getElementById('image')
  if(imageEdited) {
    img.src = '/uploads/<%= image %>.avif';
    imageEdited = false;
    newImage = null;
    return;
  }
  let input = document.createElement('input');
  input.type = 'file';
  input.accept = 'image/jpeg,image/png,image/gif,image/webp,image/avif';
  input.onchange = () => {
    let image = input.files[0];
    if (!image) return;
    let file = new FileReader()
      file.onload = e => {
        img.src= e.target.result;
      }
    file.readAsDataURL(image);
    imageEdited = true;
    newImage = image;
  }
  input.click();
}

async function upload() {
  if(!newImage) return null;
  let fd = new FormData();
  fd.append('image', newImage);
  let result = await fetch('/api/upload', { method: 'POST', body: fd }).then(r => r.json());
  return result.imageId;
}
</script>
</body>
</html>
